.Logospan>span {
  width: 250px !important;
  height: 58px !important;
}

.Logo {
  width: 35.125px !important;
  height: 58px !important;
}

.botomImage>span {
  width: 70px !important;
  height: 82px !important;
}

.MicrosoftImage>span {
  width: 190px !important;
  height: 82px !important;
}